// Variables
$primary-color: #D5ADE2;
$box-shadow-color: rgb(238, 237, 237);
$h1font-size: 2.5rem;
$h2font-size: 2rem;
$large-text: 1.3rem;
$small-text: 1rem;
$gradient-dark: #D5ADE2;
$gradient-light: #D5C3DB;
$highlight-text:#7D0EA3;


